### Exploring some covid data uploaded to a db file using SQLite within Python. 

[Data source](https://ourworldindata.org/covid-deaths)

In [2]:
import sqlite3, csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [66]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [43]:
conn = sqlite3.connect("covid_data.db")
cur = conn.cursor()
covid_df = pd.read_csv("//Users/alex/Downloads/covid-data.csv")

In [44]:
covid_df.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302572 entries, 0 to 302571
Columns: 67 entries, iso_code to excess_mortality_cumulative_per_million
dtypes: float64(62), object(5)
memory usage: 154.7+ MB

In [45]:
covid_deaths = pd.concat([covid_df.iloc[:,:25], covid_df.iloc[:,62].to_frame()], axis = 1)

In [46]:
covid_vaccinations = covid_df.drop(covid_df.columns[4:25], axis = 1)

In [47]:
covid_deaths.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,population
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0

In [48]:
covid_vaccinations.sample(3)

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
123781,IRN,Asia,Iran,2021-11-17,NaN,NaN,NaN,NaN,99371.0,1.13,0.0654,15.3,tests performed,NaN,NaN,NaN,NaN,NaN,531103.0,NaN,NaN,NaN,NaN,5998.0,95320.0,0.108,69.91,49.831,32.4,5.440,3.182,19082.620,0.2,270.308,9.59,0.8,21.1,NaN,1.5,76.68,0.783,88550568.0,NaN,NaN,NaN,NaN
26511,BLZ,North America,Belize,2020-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.44,16.426,25.0,3.853,2.279,7824.362,NaN,176.957,17.11,NaN,NaN,90.083,1.3,74.62,0.716,405285.0,NaN,NaN,NaN,NaN
8196,AGO,Africa,Angola,2022-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15890.0,NaN,NaN,NaN,NaN,446.0,0.0,0.000,22.65,23.890,16.8,2.405,1.362,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581,35588996.0,NaN,NaN,NaN,NaN

In [49]:
# Fill covid_data.db with covid_deaths Data Frame contents:
covid_deaths.to_sql('covid_deaths', conn, if_exists='replace', index = False)

302572

In [50]:
# Fill covid_data.db with covid_vaccinations Data Frame contents:
covid_vaccinations.to_sql('covid_vaccinations', conn, if_exists='replace', index = False)

302572

In [51]:
# Check to see if the new tables have been added to the the database file
cur.execute("SELECT name FROM sqlite_master ").fetchall()

[('COVID_trends',), ('covid_deaths',), ('covid_vaccinations',)]

<font size="3"> Looking at highest total cases/population (grouping by location, in descening order, as a percentage.) </font>

In [52]:
statement = """SELECT location, population, MAX(total_cases), ROUND(MAX(total_cases/population)*100,2) as tot_pop
FROM covid_deaths GROUP BY location ORDER BY tot_pop desc"""

# Fetch only the top 10 results

[print(i,'\n') for i in cur.execute(statement).fetchmany(10)]

#location Population  Max tot cases  Cases/Pop_Percentage

('Cyprus', 896007.0, 655664.0, 73.18)

('San Marino', 33690.0, 23873.0, 70.86)

('Austria', 8939617.0, 6046956.0, 67.64)

('Faeroe Islands', 53117.0, 34658.0, 65.25)

('Brunei', 449002.0, 284632.0, 63.39)

('Slovenia', 2119843.0, 1342156.0, 63.31)

('Gibraltar', 32677.0, 20550.0, 62.89)

('Martinique', 367512.0, 229479.0, 62.44)

('Andorra', 79843.0, 47939.0, 60.04)

('Jersey', 110796.0, 66391.0, 59.92)

[None, None, None, None, None, None, None, None, None, None]

<font size="3"> Looking at highest total deaths/population (grouping by location, in descening order, as a percentage.) </font>

In [53]:
statement = """SELECT location, population, MAX(cast(total_deaths as int)) as mtd, ROUND(MAX(total_deaths/population)*100,2) as d_p
FROM covid_deaths WHERE Continent is not null GROUP BY location ORDER BY d_p desc"""

# Fetch only the top 10 results
[print(i,'\n') for i in cur.execute(statement).fetchmany(10)]

#location  Population  Max_tot_deaths Max_tot_deaths/pop

('Peru', 34049588.0, 219866, 0.65)

('Bulgaria', 6781955.0, 38282, 0.56)

('Bosnia and Herzegovina', 3233530.0, 16328, 0.5)

('Hungary', 9967304.0, 48719, 0.49)

('North Macedonia', 2093606.0, 9667, 0.46)

('Montenegro', 627082.0, 2808, 0.45)

('Georgia', 3744385.0, 17032, 0.45)

('Croatia', 4030361.0, 18091, 0.45)

('Slovenia', 2119843.0, 9230, 0.44)

('Czechia', 10493990.0, 42702, 0.41)

[None, None, None, None, None, None, None, None, None, None]

<font size="3"> Looking at highest total deaths/population, by contintent (grouping by continent, in descening order, as a percentage.)
 </font>

In [54]:
statement = """SELECT continent, population, MAX(cast(total_deaths as int)) as mtd, ROUND(MAX(total_deaths/population)*100,2) as d_p
FROM covid_deaths WHERE Continent is not null GROUP BY continent ORDER BY d_p desc"""

[print(i,'\n') for i in cur.execute(statement).fetchall()]

#location     Population  Max_tot_deaths Max_tot_deaths/pop

('South America', 34049588.0, 700556, 0.65)

('Europe', 6781955.0, 397642, 0.56)

('Asia', 3744385.0, 531000, 0.45)

('North America', 338289856.0, 1118800, 0.33)

('Oceania', 171783.0, 19906, 0.24)

('Africa', 12356116.0, 102595, 0.24)

[None, None, None, None, None, None]

<font size="3"> 
    
Join two tables (covid deaths and covid vaccinations)

Add a column that keeps a rolling count of the sum of new vaccinations ordered by location and date

Add a column that keeps a rolling count of the percentage of the population vaccinated (using a CTE) </font>

In [55]:
statement = """WITH pop_vaccinated(continent, location, date, population, new_vaccinations, rolling_sum_of_new_vaccinations)
            AS
            (
            SELECT cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations,
            SUM(cast(cv.new_vaccinations as int)) OVER (PARTITION BY cd.location ORDER BY cd.location, cd.date)
            AS rolling_sum_of_new_vaccinations
            FROM covid_deaths cd 
            INNER JOIN covid_vaccinations cv ON cd.location = cv.location AND cd.date = cv.date
            WHERE cd.continent IS NOT NULL AND cv.new_vaccinations IS NOT NULL
            ORDER BY cd.location, cd.date 
            )
            
            SELECT *, ROUND((100*(rolling_sum_of_new_vaccinations/population)),3)
            FROM pop_vaccinated"""

# Fetch only the top 15 results
[print(i,'\n') for i in cur.execute(statement).fetchmany(15)]

# continent location      date        population  new_vaccinations rolling_vaccinations rolling_vaccinations/population

('Asia', 'Afghanistan', '2021-05-27', 41128772.0, 2859.0, 2859, 0.007)

('Asia', 'Afghanistan', '2021-06-03', 41128772.0, 4015.0, 6874, 0.017)

('Asia', 'Afghanistan', '2022-01-27', 41128772.0, 6868.0, 13742, 0.033)

('Asia', 'Afghanistan', '2022-04-27', 41128772.0, 383.0, 14125, 0.034)

('Asia', 'Afghanistan', '2022-09-12', 41128772.0, 9447.0, 23572, 0.057)

('Asia', 'Afghanistan', '2022-11-02', 41128772.0, 36587.0, 60159, 0.146)

('Asia', 'Afghanistan', '2022-11-16', 41128772.0, 14800.0, 74959, 0.182)

('Europe', 'Albania', '2021-01-13', 2842318.0, 60.0, 60, 0.002)

('Europe', 'Albania', '2021-01-14', 2842318.0, 78.0, 138, 0.005)

('Europe', 'Albania', '2021-01-15', 2842318.0, 42.0, 180, 0.006)

('Europe', 'Albania', '2021-01-16', 2842318.0, 61.0, 241, 0.008)

('Europe', 'Albania', '2021-01-17', 2842318.0, 36.0, 277, 0.01)

('Europe', 'Albania', '2021-01-18', 2842318.0, 42.0, 319, 0.011)

('Europe', 'Albania', '2021-01-19', 2842318.0, 36.0, 355, 0.012)

('Europe', 'Albania', '2021-01-20', 2842318.0, 36.0, 391, 0.014)

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

<font size="3"> This is interesting. Let us create a view called "COVID_trends" with only the contient name, location, date, population, and the  number of new vaccinations. </font>

In [87]:
cur.execute("DROP VIEW IF EXISTS COVID_trends")
statement = """CREATE VIEW COVID_trends AS
            SELECT cd.continent, cd.location, cd.date, cd.population, total_cases, total_vaccinations, total_deaths,
            new_cases_smoothed_per_million, new_vaccinations_smoothed_per_million, new_deaths_smoothed_per_million
            FROM covid_deaths cd 
            INNER JOIN covid_vaccinations cv ON cd.location = cv.location AND cd.date = cv.date
            WHERE cd.continent IS NOT NULL AND cv.new_vaccinations IS NOT NULL
            ORDER BY cd.location, cd.date 
            """
cur.execute(statement)

<font size="3"> Preview data within the view: </font>

In [88]:
[print(i,'\n') for i in cur.execute("select * from COVID_trends").fetchmany(10)]

# continent location    date    population Tot Cases, Tot Vax, Tot Deaths, 'New_cases/mil New_vax/mil new_deaths/mil

('Asia', 'Afghanistan', '2021-05-27', 41128772.0, 68366.0, 593313.0, 2869.0, 13.168, 158.0, 0.337)

('Asia', 'Afghanistan', '2021-06-03', 41128772.0, 75119.0, 630305.0, 3034.0, 23.456, 128.0, 0.573)

('Asia', 'Afghanistan', '2022-01-27', 41128772.0, 160708.0, 5081064.0, 7401.0, 5.689, 238.0, 0.052)

('Asia', 'Afghanistan', '2022-04-27', 41128772.0, 178769.0, 5986139.0, 7683.0, 0.879, 97.0, 0.01)

('Asia', 'Afghanistan', '2022-09-12', 41128772.0, 196012.0, 11734635.0, 7787.0, 6.422, 439.0, 0.017)

('Asia', 'Afghanistan', '2022-11-02', 41128772.0, 203167.0, 12140367.0, 7823.0, 2.668, 253.0, 0.01)

('Asia', 'Afghanistan', '2022-11-16', 41128772.0, 204719.0, 12216936.0, 7830.0, 2.609, 135.0, 0.003)

('Europe', 'Albania', '2021-01-13', 2842318.0, 63971.0, 188.0, 1247.0, 218.534, 22.0, 2.413)

('Europe', 'Albania', '2021-01-14', 2842318.0, 64627.0, 266.0, 1252.0, 218.333, 23.0, 2.111)

('Europe', 'Albania', '2021-01-15', 2842318.0, 65334.0, 308.0, 1256.0, 217.428, 22.0, 1.96)

[None, None, None, None, None, None, None, None, None, None]

<font size="3"> Running these querries has provided us with some insight, however it would be much easier to see some of the trends found here with the help of a visualization tool like **Tableau**. I will load the contents of the VIEW into a pandas dataframe and upload it into a CSV file </font>

In [89]:
COVID_trends = pd.DataFrame(cur.execute("select * from COVID_trends").fetchall(), columns = ["Continent", "Country", "Date",
"Population", 'Total Cases','Total Vaccinations','Total Deaths',"New_Cases/Million","New_Vaccines/Million", "New_Deaths/Million"])

In [90]:
COVID_trends[COVID_trends.Continent == 'Asia'].Country.unique()

array(['Afghanistan', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan',
       'Brunei', 'Cambodia', 'China', 'Georgia', 'Hong Kong', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
       'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macao',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
       'Northern Cyprus', 'Oman', 'Pakistan', 'Palestine', 'Philippines',
       'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka',
       'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor', 'Turkey',
       'United Arab Emirates', 'Uzbekistan', 'Vietnam'], dtype=object)

In [92]:
# For future reference, the following countries are considered part of "Oceania":
COVID_trends['Country'][COVID_trends.Continent == 'Oceania'].unique().tolist()

['Australia', 'Fiji', 'French Polynesia', 'Nauru', 'New Zealand']

In [93]:
COVID_trends.head()

,Continent,Country,Date,Population,Total Cases,Total Vaccinations,Total Deaths,New_Cases/Million,New_Vaccines/Million,New_Deaths/Million
0,Asia,Afghanistan,2021-05-27,41128772.0,68366.0,593313.0,2869.0,13.168,158.0,0.337
1,Asia,Afghanistan,2021-06-03,41128772.0,75119.0,630305.0,3034.0,23.456,128.0,0.573
2,Asia,Afghanistan,2022-01-27,41128772.0,160708.0,5081064.0,7401.0,5.689,238.0,0.052
3,Asia,Afghanistan,2022-04-27,41128772.0,178769.0,5986139.0,7683.0,0.879,97.0,0.010
4,Asia,Afghanistan,2022-09-12,41128772.0,196012.0,11734635.0,7787.0,6.422,439.0,0.017

In [94]:
COVID_trends.to_csv('COVID_trends.csv')