### Exploring some covid data uploaded to a db file using SQLite within Python. 

[Data source](https://ourworldindata.org/covid-deaths)

In [35]:
import sqlite3, csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [31]:
pd.set_option('display.max_columns', None)

In [36]:
conn = sqlite3.connect("covid_data.db")
cur = conn.cursor()
covid_df = pd.read_csv("//Users/alex/Downloads/owid-covid-data.csv")

In [6]:
covid_df.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254400 entries, 0 to 254399
Columns: 67 entries, iso_code to excess_mortality_cumulative_per_million
dtypes: float64(62), object(5)
memory usage: 130.0+ MB

In [37]:
covid_deaths = pd.concat([covid_df.iloc[:,:25], covid_df.iloc[:,62].to_frame()], axis = 1)

In [38]:
covid_vaccinations = covid_df.drop(covid_df.columns[4:25], axis = 1)

In [18]:
covid_deaths.sample(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,population
21513,BEL,Europe,Belgium,2020-03-30,11899.0,1063.0,1165.143,513.0,82.0,60.714,1020.854,91.198,99.961,44.012,7.035,5.209,1.76,1021.0,87.595,4897.0,420.13,NaN,NaN,3717.0,318.894,11655923.0
123554,LAO,Asia,Laos,2021-09-21,19730.0,331.0,292.571,16.0,0.0,0.000,2620.368,43.961,38.857,2.125,0.000,0.000,1.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7529477.0
227689,TGO,Africa,Togo,2021-12-17,26550.0,84.0,25.429,244.0,0.0,0.143,3000.441,9.493,2.874,27.575,0.000,0.016,1.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8848700.0

In [19]:
covid_vaccinations.sample(3)

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
133742,LUX,Europe,Luxembourg,2020-07-03,222851.0,10512.0,348.575,16.442,7790.0,12.185,0.004,250.0,tests performed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.78,231.447,39.7,14.312,9.842,94277.965,0.2,128.275,4.42,20.9,26.0,NaN,4.51,82.25,0.916,647601.0,NaN,NaN,NaN,NaN
250068,WLF,Oceania,Wallis and Futuna,2022-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,86.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
249165,OWID_WLS,Europe,Wales,2022-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7428115.0,2584917.0,2450053.0,2066926.0,696.0,626.0,234.33,81.54,77.29,65.2,197.0,132.0,0.004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3170000.0,NaN,NaN,NaN,NaN

In [39]:
# Fill covid_data.db with covid_deaths Data Frame contents:
covid_deaths.to_sql('covid_deaths', conn, if_exists='replace', index = False)

254400

In [40]:
# Fill covid_data.db with covid_vaccinations Data Frame contents:
covid_vaccinations.to_sql('covid_vaccinations', conn, if_exists='replace', index = False)

254400

In [60]:
# Check to see if the new tables have been added to the the database file
cur.execute("SELECT name FROM sqlite_master ").fetchall()

[('covid_deaths',), ('covid_vaccinations',), ('pop_vaccinated',)]

<font size="3"> Looking at highest total cases/population (grouping by location, in descening order, as a percentage.) </font>

In [42]:
statement = """SELECT location, population, MAX(total_cases), ROUND(MAX(total_cases/population)*100,2) as tot_pop
FROM covid_deaths GROUP BY location ORDER BY tot_pop desc"""

# Fetch only the top 10 results

[print(i,'\n') for i in cur.execute(statement).fetchmany(10)]

#location Population  Max tot cases  Cases/Pop_Percentage

('Cyprus', 896007.0, 642663.0, 71.73)

('San Marino', 33690.0, 23427.0, 69.54)

('Faeroe Islands', 53117.0, 34658.0, 65.25)

('Austria', 8939617.0, 5785590.0, 64.72)

('Gibraltar', 32677.0, 20399.0, 62.43)

('Slovenia', 2119843.0, 1321852.0, 62.36)

('Brunei', 449002.0, 276067.0, 61.48)

('Andorra', 79843.0, 47839.0, 59.92)

('Saint Pierre and Miquelon', 5885.0, 3452.0, 58.66)

('France', 67813000.0, 39568875.0, 58.35)

[None, None, None, None, None, None, None, None, None, None]

<font size="3"> Looking at highest total deaths/population (grouping by location, in descening order, as a percentage.) </font>

In [44]:
statement = """SELECT location, population, MAX(cast(total_deaths as int)) as mtd, ROUND(MAX(total_deaths/population)*100,2) as d_p
FROM covid_deaths WHERE Continent is not null GROUP BY location ORDER BY d_p desc"""

# Fetch only the top 10 results
[print(i,'\n') for i in cur.execute(statement).fetchmany(10)]

#location  Population  Max_tot_deaths Max_tot_deaths/pop

('Peru', 34049588.0, 218931, 0.64)

('Bulgaria', 6781955.0, 38182, 0.56)

('Bosnia and Herzegovina', 3233530.0, 16257, 0.5)

('Hungary', 9967304.0, 48677, 0.49)

('North Macedonia', 2093606.0, 9641, 0.46)

('Montenegro', 627082.0, 2797, 0.45)

('Georgia', 3744385.0, 16926, 0.45)

('Croatia', 4030361.0, 17883, 0.44)

('Czechia', 10493990.0, 42312, 0.4)

('Slovakia', 5643455.0, 20946, 0.37)

[None, None, None, None, None, None, None, None, None, None]

<font size="3"> Looking at highest total deaths/population, by contintent (grouping by continent, in descening order, as a percentage.)
 </font>

In [45]:
statement = """SELECT continent, population, MAX(cast(total_deaths as int)) as mtd, ROUND(MAX(total_deaths/population)*100,2) as d_p
FROM covid_deaths WHERE Continent is not null GROUP BY continent ORDER BY d_p desc"""

[print(i,'\n') for i in cur.execute(statement).fetchall()]

#location     Population  Max_tot_deaths Max_tot_deaths/pop

('South America', 34049588.0, 697200, 0.64)

('Europe', 6781955.0, 387153, 0.56)

('Asia', 3744385.0, 530741, 0.45)

('North America', 338289856.0, 1109591, 0.33)

('Africa', 12356116.0, 102595, 0.24)

('Oceania', 306292.0, 18615, 0.21)

[None, None, None, None, None, None]

<font size="3"> 
    
Join two tables (covid deaths and covid vaccinations)

Add a column that keeps a rolling count of the sum of new vaccinations ordered by location and date

Add a column that keeps a rolling count of the percentage of the population vaccinated (using a CTE) </font>

In [46]:
statement = """WITH pop_vaccinated(continent, location, date, population, new_vaccinations, rolling_sum_of_new_vaccinations)
            AS
            (
            SELECT cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations,
            SUM(cast(cv.new_vaccinations as int)) OVER (PARTITION BY cd.location ORDER BY cd.location, cd.date)
            AS rolling_sum_of_new_vaccinations
            FROM covid_deaths cd 
            INNER JOIN covid_vaccinations cv ON cd.location = cv.location AND cd.date = cv.date
            WHERE cd.continent IS NOT NULL AND cv.new_vaccinations IS NOT NULL
            ORDER BY cd.location, cd.date 
            )
            
            SELECT *, ROUND((100*(rolling_sum_of_new_vaccinations/population)),3)
            FROM pop_vaccinated"""

# Fetch only the top 15 results
[print(i,'\n') for i in cur.execute(statement).fetchmany(15)]

# continent location      date        population  new_vaccinations rolling_vaccinations rolling_vaccinations/population

('Asia', 'Afghanistan', '2021-05-27', 41128772.0, 2859.0, 2859, 0.007)

('Asia', 'Afghanistan', '2021-06-03', 41128772.0, 4015.0, 6874, 0.017)

('Asia', 'Afghanistan', '2022-01-27', 41128772.0, 6868.0, 13742, 0.033)

('Asia', 'Afghanistan', '2022-04-27', 41128772.0, 383.0, 14125, 0.034)

('Asia', 'Afghanistan', '2022-09-12', 41128772.0, 9447.0, 23572, 0.057)

('Asia', 'Afghanistan', '2022-11-02', 41128772.0, 36587.0, 60159, 0.146)

('Asia', 'Afghanistan', '2022-11-16', 41128772.0, 14800.0, 74959, 0.182)

('Europe', 'Albania', '2021-01-13', 2842318.0, 60.0, 60, 0.002)

('Europe', 'Albania', '2021-01-14', 2842318.0, 78.0, 138, 0.005)

('Europe', 'Albania', '2021-01-15', 2842318.0, 42.0, 180, 0.006)

('Europe', 'Albania', '2021-01-16', 2842318.0, 61.0, 241, 0.008)

('Europe', 'Albania', '2021-01-17', 2842318.0, 36.0, 277, 0.01)

('Europe', 'Albania', '2021-01-18', 2842318.0, 42.0, 319, 0.011)

('Europe', 'Albania', '2021-01-19', 2842318.0, 36.0, 355, 0.012)

('Europe', 'Albania', '2021-01-20', 2842318.0, 36.0, 391, 0.014)

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

<font size="3"> This is interesting. Let us create a view called "pop_vaccinated" with only the contient name, location, date, population, and the  number of new vaccinations. </font>

In [47]:
cur.execute("DROP VIEW IF EXISTS pop_vaccinated")
statement = """CREATE VIEW pop_vaccinated AS
            SELECT cd.continent, cd.location, cd.date, cd.population, cd.new_deaths, cv.new_vaccinations
            FROM covid_deaths cd 
            INNER JOIN covid_vaccinations cv ON cd.location = cv.location AND cd.date = cv.date
            WHERE cd.continent IS NOT NULL AND cv.new_vaccinations IS NOT NULL
            ORDER BY cd.location, cd.date 
            """
cur.execute(statement)

<font size="3"> Preview data within the view: </font>

In [48]:
[print(i,'\n') for i in cur.execute("select * from pop_vaccinated").fetchmany(12)]

# continent location      date        population  new_deaths new_vaccinations

('Asia', 'Afghanistan', '2021-05-27', 41128772.0, 14.0, 2859.0)

('Asia', 'Afghanistan', '2021-06-03', 41128772.0, 27.0, 4015.0)

('Asia', 'Afghanistan', '2022-01-27', 41128772.0, 2.0, 6868.0)

('Asia', 'Afghanistan', '2022-04-27', 41128772.0, 0.0, 383.0)

('Asia', 'Afghanistan', '2022-09-12', 41128772.0, 2.0, 9447.0)

('Asia', 'Afghanistan', '2022-11-02', 41128772.0, 0.0, 36587.0)

('Asia', 'Afghanistan', '2022-11-16', 41128772.0, 1.0, 14800.0)

('Europe', 'Albania', '2021-01-13', 2842318.0, 4.0, 60.0)

('Europe', 'Albania', '2021-01-14', 2842318.0, 5.0, 78.0)

('Europe', 'Albania', '2021-01-15', 2842318.0, 4.0, 42.0)

('Europe', 'Albania', '2021-01-16', 2842318.0, 5.0, 61.0)

('Europe', 'Albania', '2021-01-17', 2842318.0, 7.0, 36.0)

[None, None, None, None, None, None, None, None, None, None, None, None]

<font size="3"> Running these querries has provided us with some insight, however it would be much easier to see some of the trends found here with the help of a visualization tool like **Tableau**. I will load the contents of the VIEW into a pandas dataframe and upload it into a CSV file </font>

In [49]:
vaccines_df = pd.DataFrame(cur.execute("select * from pop_vaccinated").fetchall(), columns = ["Continent", "Location", "Date",
"Population", "New Deaths" ,"New Vaccinations"])

In [51]:
vaccines_df[Continent== 'Oceania']

Europe           21231
Asia             14144
North America     5506
South America     5266
Africa            2780
Oceania           1248
Name: Continent, dtype: int64

In [58]:
# For future reference, the following countries are considered part of "Oceania":
vaccines_df['Location'][vaccines_df.Continent == 'Oceania'].unique().tolist()

['Australia', 'Fiji', 'French Polynesia', 'Nauru', 'New Zealand']

In [50]:
vaccines_df.head()

  Continent     Location        Date  Population  New Deaths  New Vaccinations
0      Asia  Afghanistan  2021-05-27  41128772.0        14.0            2859.0
1      Asia  Afghanistan  2021-06-03  41128772.0        27.0            4015.0
2      Asia  Afghanistan  2022-01-27  41128772.0         2.0            6868.0
3      Asia  Afghanistan  2022-04-27  41128772.0         0.0             383.0
4      Asia  Afghanistan  2022-09-12  41128772.0         2.0            9447.0

In [59]:
vaccines_df.to_csv('Covid_data.csv')